package ${package}.${moduleName}.service;

import com.hd.common.util.PageBean;
import com.hd.common.util.PageParam;
import ${package}.${moduleName}.entity.${className};

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Facade {

    /**
     * ${comments}列表信息
     *
     * @param pageParam
     * @return 结果
     */
    PageBean<${className}> page(PageParam pageParam);

    /**
     * ${comments}详细信息
     *
     * @param ${pk.attrname} ${comments}ID
     * @return 结果
     */
    ${className} info(Long ${pk.attrname});

    /**
     * 保存${comments}信息
     *
     * @param ${classname}
     * @return 结果
     */
    void insert(${className} ${classname});

    /**
     * 修改${comments}信息
     *
     * @param ${classname}
     * @return 结果
     */
    void update(${className} ${classname});

    /**
     * 删除${comments}信息
     *
     * @param ${pk.attrname} 需要删除的${comments}ID
     * @return 结果
     */
    void deleteById(Long ${pk.attrname});
}

