package ${package}.${moduleName}.service;

import com.hd.common.util.PageBean;
import com.hd.common.util.PageParam;
import com.hd.common.model.vo.CurrAccountVo;
import ${package}.${moduleName}.model.po.${className}Po;

import java.util.List;

/**
 * ${comments}
 *
 * &#064;author ${author}
 * &#064;date ${datetime}
 */
public interface ${className}Service {

    /**
     * ${comments}列表信息
     *
     * @param pageParam
     * @return 结果
     */
    PageBean<${className}Po> page(PageParam pageParam);

    /**
     * ${comments}详细信息
     *
     * @param ${pk.attrname} ${comments}ID
     * @return 结果
     */
    ${className}Po info(Long ${pk.attrname});

    /**
     * ${comments}详细信息
     *
     * @param ${pk.attrname} ${comments}ID
     * @return 结果
     */
    ${className}Po getById(Long ${pk.attrname});

    /**
     * 保存${comments}信息
     *
     * @param ${classname}
     * @param account
     * @return 结果
     */
    void insert(${className}Po ${classname}, CurrAccountVo account);

    /**
     * 修改${comments}信息
     *
     * @param ${classname}
     * @return 结果
     */
    void update(${className}Po ${classname}, CurrAccountVo account);

    /**
     * 删除${comments}信息
     *
     * @param ${pk.attrname} 需要删除的${comments}ID
     * @return 结果
     */
    void deleteById(Long ${pk.attrname});

    /**
     * 批量新增 ${comments}
     *
     * @param ${classname}s 需要新增的数据
     * @return 结果
     */
    void batchInsert(List<${className}Po> ${classname}s);
}

