package ${package}.${moduleName}.service;

import ${package}.${moduleName}.entity.${className};

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Facade {

    /**
     * ${comments}列表信息
     *
     * @param pageParam
     * @return 结果
     */
    PageBean<${className}> page(PageParam pageParam);

    /**
     * ${comments}详细信息
     *
     * @param ${pk.attrname} ${comments}ID
     * @return 结果
     */
    ${className} info(Long ${pk.attrname});

    /**
     * 保存${comments}信息
     *
     * @param ${classname}
     * @return 结果
     */
    void insert(${className} ${classname});

    /**
     * 修改${comments}信息
     *
     * @param ${classname}
     * @return 结果
     */
    void update(${className} ${classname});

    /**
     * 批量删除${comments}信息
     *
     * @param ${pk.attrname}s 需要删除的${comments}ID
     * @return 结果
     */
    void deleteByIds(Long[] ${pk.attrname}s);
}

