package ${package}.${moduleName}.mapper;


import ${package}.${moduleName}.domain.${className};
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.springframework.stereotype.Repository;
import org.apache.ibatis.annotations.Param;
import org.springframework.stereotype.Repository;

import java.io.Serializable;
import java.util.Collection;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Repository
public interface ${className}Mapper extends BaseMapper<${className}> {

    /**
     * 批量删除 ${comments}
     *
     * @param idList 需要删除的 ${comments}ID
     * @return 结果
     */
    Integer deleteByIds(@Param("idList") Collection<? extends Serializable> idList);
}
