package ${package}.${moduleName}.mapper;


import ${package}.${moduleName}.entity.${className};
import org.apache.ibatis.annotations.Param;

import java.util.List;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Mapper {

    /**
     * ${comments}列表信息
     *
     * @return 结果
     */
    List<${className}> page();

    /**
     * ${comments}详细信息
     *
     * @param ${pk.attrname} ${comments}ID
     * @return 结果
     */
    ${className} selectByPrimaryKey(@Param("${pk.attrname}")Long ${pk.attrname});

    /**
     * 保存${comments}信息
     *
     * @param ${classname}
     * @return 结果
     */
    void insertSelective(${className} ${classname});

    /**
     * 修改${comments}信息
     *
     * @param ${classname}
     * @return 结果
     */
    void updateByPrimaryKeySelective(${className} ${classname});

    /**
     * 删除 ${comments}
     *
     * @param ${pk.attrname} 需要删除的 ${comments}ID
     * @return 结果
     */
    Integer deleteByPrimaryKey(@Param("${pk.attrname}") Long ${pk.attrname});
}
